/* --------------------------------------- */
/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono:wght@400;600&display=swap');
/* font-family: 'Chelsea Market', cursive; */
/* font-family: 'Roboto Mono', monospace; */


/* --------------------------------------- */
/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------------------------- */
/* General Styles */

html {
  font-size: 62.5%; /* default size 16px --> 10px */
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
}


/* --------------------------------------- */
/* Header and Heading Styles */

nav {
  text-align: center;
  padding: 40px;
}

nav a {
  border-radius: 12px;
  color: white;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 7%;
  padding: 10px 15px;
  width: 110px;
}

.plan {
  background-color: #ff754e;
}

.learn {
  background-color: #5fd3ec;
}

.get {
  background-color: #ffcd6a;
}

.site-heading {
  box-sizing: border-box;
  margin: 15px auto;
}

.circle-picture {
  display: inline-block;
  margin: 0 140px;
}

.circle-picture img {
  border-radius: 110px;
  width: 220px;
  transition: 1s;
}

.site-title {
  display: block;
  text-align: center;
  margin-top: -206px;
  margin-left: 263px;
  height: 204px;
}

.site-title h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 4.5rem;
  margin: 25px 0;
  letter-spacing: 0.25rem;
}

.site-title h2 {
  font-size: 1.7rem;
  margin-bottom: 25px;
  line-height: 1.8rem;
}

#subtitle-2 {
  margin: 0 auto;
  width: 40%;
}

/* --------------------------------------- */
/* Hero Banner Styles */

.hero-banner {
  color: white;
  background-color: #ddb9a3;
  font-size: 1.7rem;
  line-height: 1.8rem;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center;
  width: 80%;
}

h3:first-child {
  margin-bottom: 20px;
}


/* --------------------------------------- */
/* Content Styles */

.content {
  margin: 0 auto 70px auto;
  text-align: center;
}

.content img {
  margin: 15px 0;
  width: 100px;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin: 0 auto 20px auto;
  width: 22%;
}

.content a {
  color: black;
  font-weight: 600;
}


/* --------------------------------------- */
/* Footer Styles */

footer {
  background-color: #f9e7dd;
  width: 100%;
}

.footer-background {
  background-image: url(assets/footer_img.jpg);
  background-size: 100%;
  background-position-y: -50px;
  height: 220px;
}

footer img {
  width: 100%;
}